<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="container">
            <div class="bg-light"><h1>Perfil de Usuario</h1></div>
                <% if (usuario) { %>
                <div class="row">
                    <h2><i>Bienvenido <%= usuario.username %></i></h2>
                    <br>
                    <h3>Nombre: <%=usuario.nombre%></h3>
                    <h3>Apellido: <%=usuario.apellido%></h3>
                    <h3>Email: <%=usuario.username%></h3>
                    <form action="/logout">
                        <div class="text-center"></div>
                            <button class="btn btn-danger my-5">LOGOUT</button>
                        </div>
                    </form>
                </div>
                <% } else { %>
                    <h2>No hay usuario ingresado</h2>
                <% } %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>



